# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environments
env/
venv/
ENV/
.venv/
env.bak/
venv.bak/

# VS Code settings
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db

# API keys and secrets
.env